.container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 50vw;
}

.imageContainer {
  margin: auto;
}

@media screen and (max-width: 646px) {
  .container {
    width: 100%;
  }

  .imageContainer {
    position: relative;
    width: 100%;
  }

}